.entry {
    margin: 0.5rem 0;
}

.entryHeader {
    display: flex;
    justify-content: space-between;
}

.entrySubHeader{
    display: flex;
}

span {
    font-weight: bold;
    color: #353535;
}

h4 {
    color: #353535;
}

p {
    color: #636262;
    margin-right: 0.5rem;
}

.description {
    color: #636262;
    text-justify: inter-word;
}